{% extends "head.html" %}
{% block content %}
<div class="empty-line">



    
<title> chinen Labとは </title>

  
<h1>Chinen Labについて</h1>

<br><br>
<p> 知念研は情報インフラを扱う研究室です。研究テーマとして、<strong>「SRv6」「Kubernetes」「ネットワーク復旧」「PXIBoot」</strong>等を扱っています。</p>
<p> 現在は研究室クラウドを設計中で、4年生はインフラの勉強会を企画しています。</p>

<br><br><br><br>
<h2> 在籍メンバー </h2>

<br>
<h3> 教員 </h3>
<div class="eventcard1">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">先生</div>
  <div class="card-body">
    <h4 class="card-title">ひとこと</h4>
    <p class="card-text">自己紹介的な
  </div>
</div>
</div>



<br>
<h3> 専攻科2年生</h3>
<div class="eventcard1">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">疋田</div>
  <div class="card-body">
    <h4 class="card-title">ひとこと</h4>
    <p class="card-text">自己紹介的な
  </div>
</div>
</div>



<br>
<h3> 専攻科1年生</h3>
<div class="eventcard1">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">井口</div>
  <div class="card-body">
    <h4 class="card-title">apt -y update 技術力</h4>
    <p class="card-text">インフラエンジニア目指して頑張っています。研究テーマは"カスタマイズ可能なKubernetesベースの仮想化基盤の開発"です！
  </div>
</div>
</div>



<br>
<h3> 本科5年生</h3>
<div class="eventcard_group">

<div class="eventcard1">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">阿部</div>
  <div class="card-body">
    <h4 class="card-title">是非楽しんで！</h4>
    <p class="card-text">講座を企画した時はインフラが全く分からない状態から始めました。検証>
  </div>
</div>
</div>


<div class="eventcard2">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">大竹</div>
  <div class="card-body">
    <h4 class="card-title">是非楽しんで！</h4>
    <p class="card-text">講座を企画した時はインフラが全く分からない状態から始めました。検証>
  </div>
</div>
</div>


<div class="eventcard3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">大宮</div>
  <div class="card-body">
    <h4 class="card-title">是非楽しんで！</h4>
    <p class="card-text">講座を企画した時はインフラが全く分からない状態から始めました。検証>
  </div>
</div>
</div>


<div class="eventcard4">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">奥田</div>
  <div class="card-body">
    <h4 class="card-title">是非楽しんで！</h4>
    <p class="card-text">講座を企画した時はインフラが全く分からない状態から始めました。検証>
  </div>
</div>
</div>
</div>



<br>
<h3> 本科4年生</h3>
<div class="eventcard_group">

<div class="eventcard1">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">鈴木</div>
  <div class="card-body">
    <h4 class="card-title">是非楽しんで！</h4>
    <p class="card-text">講座を企画した時はインフラが全く分からない状態から始めました。検証>
  </div>
</div>
</div>


<div class="eventcard2">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">栃沢</div>
  <div class="card-body">
    <h4 class="card-title">是非楽しんで！</h4>
    <p class="card-text">講座を企画した時はインフラが全く分からない状態から始めました。検証>
  </div>
</div>
</div>


<div class="eventcard3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">長野</div>
  <div class="card-body">
    <h4 class="card-title">是非楽しんで！</h4>
    <p class="card-text">講座を企画した時はインフラが全く分からない状態から始めました。検証>
  </div>
</div>
</div>


<div class="eventcard4">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">宮部</div>
  <div class="card-body">
    <h4 class="card-title">是非楽しんで！</h4>
    <p class="card-text">講座を企画した時はインフラが全く分からない状態から始めました。検証>
  </div>
</div>
</div>
</div>


</div>
{% endblock %}
