{% extends "head.html" %}

{% block content %}
<div class="empty-line">    


<div class="card border-primary mb-3" style="max-width: 20rem;">
  <div class="card-header">知念研 Summer Open Lab 2023</div>
  <div class="card-body">
    <h4 class="card-title">サマーオープンラボ2023</h4>
    <p class="card-text">知念研の学生が情報インフラについての体験会を開きます！</p>
  </div>

<div class="syousai" align="center">
<a href="/event01">
    <button type="button" class="btn btn-primary btn-sm">詳細</button>
</a>
</div>
</div>



</div>
{% endblock %}
