{% extends "head.html" %}
{% block content %}

<br><br>    
<h1 align="center"> Chinen-Lab Summer Seminar 2023</h1>
<h4 align="center"> ～ネットワーク基礎体験講座！～</h4>

<br>
<br>

<div align="center">

情報インフラってなんだ？を学ぶ体験講座第一弾！<br>
<br>

本講座ではネットワークを可視化する事によって通信の仕組みについて学びます。<br>
<br>
皆さんには実際にルータの設定等のネットワーク構築を体験していただきます！！<br>
構築したネットワークはLEDを用いたLANケーブルによって通信の可視化を行います<br>
<br>
ネットワークのネの字も分からない方でも問題ありません。
<br>
<br>
インターネットの裏側を見てみましょう。
<br>
<br>
興味のある方はぜひご参加ください。

</div>

<br><br><br>


<div style="text-align: center">
<iframe width="560" height="315" src="https://www.youtube.com/embed/5yJyNpHeRzg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
<br>

<div class="alert alert-dismissible alert-warning">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">限定16人！！</h4>
  <p class="mb-0"><a href="https://forms.gle/ZNxt5HD47vNoXPsy8" class="alert-link">参加申し込みはこちらから</a></p>
</div>
</div>

<div class="setsumei">

<br><br><br>

<h4>日程</h4>
2023年7月9日(日)　予定
<br><br><br>

<h4>会場</h4>
6階　PBL教室A
<br><br><br>

<h4>講師</h4>
知念研・本科4年生

<br><br><br>

<h4>定員</h4>
16人
<br><br><br>

<h4>主催</h4>
都立産業技術高等専門学校・知念研
<br><br><br>

<h4>費用</h4>
無料

</div>


<br>
<br>
<br>




<div class="d-grid gap-2">
  <button class="btn btn-lg btn-primary" type="button" onclick="location.href='https://forms.gle/ZNxt5HD47vNoXPsy8'">参加申し込みはこちらから！</button>
</div>



<br><br>

<div class="eventcard_group">

<div class="eventcard1">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">本科4年・〇〇</div>
  <div class="card-body">
    <h4 class="card-title">是非楽しんで！</h4>
    <p class="card-text">講座を企画した時はインフラが全く分からない状態から始めました。検証を含め沢山苦労しましたが、その分良い講義が出来ると思います。是非参加してインフラについて一緒に学びましょう</p>
  </div>
</div>
</div>


<div class="eventcard2">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">本科4年・〇〇</div>
  <div class="card-body">
    <h4 class="card-title">是非楽しんで！</h4>
    <p class="card-text">講座を企画した時はインフラが全く分からない状態から始めました。検証を含め沢山苦労しましたが[>
  </div>
</div>
</div>


<div class="eventcard3">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">本科4年・〇〇</div>
  <div class="card-body">
    <h4 class="card-title">是非楽しんで！</h4>
    <p class="card-text">講座を企画した時はインフラが全く分からない状態から始めました。検証を含め沢山苦労しましたが[>
  </div>
</div>
</div>


<div class="eventcard4">
<div class="card border-secondary mb-3" style="max-width: 20rem;">
  <div class="card-header">本科4年・〇〇</div>
  <div class="card-body">
    <h4 class="card-title">是非楽しんで！</h4>
    <p class="card-text">講座を企画した時はインフラが全く分からない状態から始めました。検証を含め沢山苦労しましたが[>
  </div>
</div>
</div>



</div>

{% endblock %}
